* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1920%;
  width: 100%;
  font-family: "Noto Sans", "Noto Sans Traditional Chinese";
}
h1 {
  font-size: 35px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  font-weight: bold;
}
p {
  font-size: 16px;
  line-height: 28px;
}
span {
  font-size: 14px;
}
.shadow {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
img {
  display: block;
}
body {
  max-width: 1920px;
  background-color: #eff3f6;
  background: url(../img/all/body_backImg.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}
.visible_Range {
  display: flex;
  width: 100%;
}
/*#region nav*/
.nav_group {
  box-sizing: border-box;
  max-width: 330px;
  width: 100%;
  position: relative;
}
.nav_backImg {
  position: absolute;
  margin-left: 27px;
}
.nav_control {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 330px;
  margin-top: -850px;
  margin-left: 30px;
}
.logo_img {
  margin: 0 0 100px 0;
  width: 100%;
}
.logo_img > a {
  display: block;
  width: 140px;
  margin: auto;
}
.custom_btn {
  width: 180px;
  height: 50px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  position: relative;
  text-decoration: none;
}
.info_text,
.personal_text,
.competition_text,
.together_text,
.cookbook_text,
.sportmenu_text {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}
.info_btn,
.personal_btn,
.competition_btn,
.together_btn,
.cookbook_btn,
.sportmenu_btn {
  background: transparent;
  z-index: 1;
}
.info_btn h3,
.personal_btn h3,
.competition_btn h3,
.together_btn h3,
.cookbook_btn h3,
.sportmenu_btn h3 {
  margin: 0 0 0 10px;
}
.info_btn :after,
.personal_btn :after,
.competition_btn :after,
.together_btn :after,
.cookbook_btn :after,
.sportmenu_btn :after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.info_btn :hover,
.personal_btn :hover,
.competition_btn :hover,
.together_btn :hover,
.cookbook_btn :hover,
.sportmenu_btn :hover {
  color: #6ec1c5;
}
.info_btn :hover:after,
.personal_btn :hover:after,
.competition_btn :hover:after,
.together_btn :hover:after,
.cookbook_btn :hover:after,
.sportmenu_btn :hover:after {
  left: 0;
  width: 100%;
}
.info_btn:active,
.personal_btn:active,
.competition_btn:active,
.together_btn:active,
.cookbook_btn:active,
.sportmenu_btn :active {
  top: 2px;
}
/*#endregion nav*/
.main {
  max-width: 1590px;
  width: 100%;
  box-sizing: border-box;
}
/*#region header*/
header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: right;
  position: sticky;
  top: 0px;
  z-index: 100;
}
.header_group {
  box-sizing: border-box;
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 0 20px;
}
.header_group i {
  font-size: 26px;
  margin-top: 10px;
}
.header_group button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
.setting_btn i {
  margin-left: 2px;
  margin-top: 11px;
}
.login_btn {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
}
.login_Bgc {
  background-color: #6ec1c5;
  width: 75px;
  height: 65px;
}
.login_btn img {
  font-size: 30px;
  position: absolute;
  margin-top: -50px;
  margin-left: 18px;
}
.setting_btn .fa-gear {
  color: #6ec1c5;
}
.systemInfo_btn .fa-bell {
  color: #6ec1c5;
}
.message_btn .fa-comment-dots {
  color: #6ec1c5;
}
.login_btn .fa-circle-user {
  color: #ffffff;
}
.systemInfo_btn:hover,
.setting_btn:hover,
.message_btn:hover {
  background-color: #6ec1c5;
}
.login_btn:hover .b_Login_Bg {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.message_btn:hover .fa-comment-dots {
  color: #fff;
}
.systemInfo_btn:hover .fa-bell {
  color: #fff;
}
.setting_btn:hover .fa-gear {
  color: #fff;
}
.login_btn:hover {
  color: #0b3638;
}


/*#endregion header*/
